*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(38, 38, 38);
    height: 100vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    width: 315px;
    background-color: rgb(48, 48, 48);
    padding: 17.5px;
    border-radius: 10px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.657);
}

input{
    height: 50px;
    width:100%;
    border: none;
    border-radius: 5.5px;
    background-color: white;
    margin-bottom: 17px;
    color: black;
    font-size: xx-large;
    text-align: right;
    padding-right: 5px;
}

button{
    height: 60px;
    width: 60px;
    border-radius: 5.5px;
    border: none;
    background-color: rgb(99, 94, 94);
    color: white;
    font-size: xx-large;
    font-family: monospace;
}

button:hover{
    background-color: rgb(38, 38, 38);
    transition: 0.2s all;
    cursor: pointer;
}

#first{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 13px;
}